
<body data-spy="scroll" data-target=".navbar" data-offset="51">
    <nav class="navbar fixed-top shadow-sm navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-lg-5" style="display: flex;">
        <a href="index.html" class="navbar-brand ml-lg-3">
            <h1 class="m-0 display-5"><span class="text-primary">Prot</span>Folio</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse px-lg-3" id="navbarCollapse">
            <div class="navbar-nav m-auto py-0">
                <a routerLink="/home" class="nav-item nav-link active" routerLinkActive="active">Home</a>
                <a routerLink="/profile" class="nav-item nav-link" routerLinkActive="active">About</a>
                <a routerLink="/education" class="nav-item nav-link" routerLinkActive="active">Quality</a>
                <a routerLink="/skill" class="nav-item nav-link" routerLinkActive="active">Skill</a>
                <a routerLink="/experiance" class="nav-item nav-link" routerLinkActive="active">Service</a>
                <!-- <a href="#portfolio" class="nav-item nav-link">Portfolio</a> -->
                <!-- <a href="#testimonial" class="nav-item nav-link">Review</a> -->
                <!-- <a href="#blog" class="nav-item nav-link">Blog</a> -->
                <a routerLink="/contact" class="nav-item nav-link" routerLinkActive="active">Contact</a>
            </div>
            <a href="" class="btn btn-outline-primary d-none d-lg-block">Hire Me</a>
        </div>
    </nav>
    <router-outlet></router-outlet>
</body>